<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 
  Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css"
      href="{{ staticfile('style.css') }}">
  <link rel="stylesheet" type="text/css"
      href="{{ staticfile('procedure.css') }}">
  <title>Authorization Blockchain</title>
</head>

<body>
    <h1>Authorization Blockchain Interface</h1>
    <h2>Resource List</h2>
    <br>
    <form action="#" method="post">
        <p>Protection API Token:
            <input type="text" name="pat"></p>
        <p>Organization Name:
            <input type="text" name="org_name"></p>
        <br>
        <button type="submit" value="submit">Submit</button>
    </form>
</body>

</html>